@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './variables';
@import './mixins';
@import './break-points';
@import './headings';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: unset;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  border-radius: 6px;

  &:focus {
    outline: none;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wraper {
  margin: 0 auto;
  max-width: $maxWidth;
}