$childrenWidth: 95%;
$childrenPadding: 2.5%;
$childrenMargin: 2.5%;
$maxWidth: 1680px;

//colors
$primaryBlue50: #56d1ee;
$grayscale100:#181E2E;
$grayscale80:#1F273A;
$grayscale60:#394257;
$grayscale40:#768099;

//break-points
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;